.react-tag-input {
  background: white;
  color: #333;
  border: 1px solid #e1e1e1;
}
.react-tag-input__input {
  background: transparent;
  color: #333;
}
.react-tag-input__input::placeholder, .react-tag-input__input:-moz-placeholder, .react-tag-input__input:-ms-input-placeholder, .react-tag-input__input::-moz-placeholder, .react-tag-input__input::-webkit-input-placeholder {
  color: #333; /* Input placeholder */
}
.react-tag-input__tag {
  font-size: 14px;
  background: #00C4A7;
  color: white;
}
.react-tag-input__tag__remove {
  background: #d4d4d4;
}
.react-tag-input__tag__remove:before, .react-tag-input__tag__remove:after {
  background: #333; /* X icon in remove button */
}
